<html lang="en">
  <%- include("../partials/htmlHead.ejs", { csspath: "/css/adminCss/category/category.css" }) %>
<body>
    <%- include('../partials/adminNavbar.ejs') %>

    <div class="container-fluid wrapper">
        <%- include("../partials/adminLeftsidebar.ejs") %>

        <div class="mainpanel">
            <nav class="navbar rounded-3 bg-body-tertiary">
                <div class="container-fluid">
                  <h4>Category Management</h4>
                  <div class="d-flex">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    <button id="addCategory" class="btn btn-outline-primary ms-3" type="button">Add Category</button>
                 </div>
                </div>
              </nav>

            <!-- Category List -->
            <div class="categoryList">
                <div class="header">
                    <ul>
                        <li>Category Name</li>
                        <li>Description</li>
                        <li>Products count</li>
                        <li></li>
                    </ul>
                </div>
                <div class="categoryList list">
                    
               <% for(let category of categories){ %>

                   <div class="header user">
                        <ul>
                            <li><%=  category.categoryName %>  </li>
                            <li><%=  category.description %>  </li>
                            <li>0</li>
                            <li> 
                                <img id="edit" src="/assets/images/edit.png" alt="">  

                                <a class="deleteBtn" href="/admin/removeCategory/?id=<%= category._id  %>">
                                    <img id="delete" src="/assets/images/delete1.png" alt="">
                                </a>
                                
                            </li>
                        </ul>
                    </div> 
               <%  } %>
                    

                </div>
            </div>

            <!-- Popup for adding category -->
            <div class="categoryPopup">
                <div class="popupHead">
                    <h4>Add category</h4>
                    <button type="button" class="btn-close" aria-label="Close"></button>
                </div>
                <div class="line"></div>
                <form method="post" action="/admin/category">
                    <label class="form-label mb-0 pt-2">Category Name</label>
                    <input name="categoryName" class="form-control form-control-sm" type="text" placeholder="Category Name">
                    <label class="form-label mb-0 pt-2">Description</label>
                    <input name="description" class="form-control form-control-sm" type="text" placeholder="Description">
                    <button id="submitBtn" type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/adminjs/category.js"></script>
    
    <!-- Inline script for showing SweetAlert -->
    <% if (typeof alert !== 'undefined' && alert.trim() !== '') { %>
        <script>
            callSweetAlert('<%= alert %>');
        </script>
    <% } %>

</body>
</html>
